@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

.project--last-updation-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: $spacing-03;

  p{
    @include type-style('helper-text-01');
  }
}

