li.cds--accordion__item::before{
    display: none !important;
}

li.cds--accordion__item::after{
    display: none !important;
}

.cds--accordion__title{
    padding-left: 0;
    font-size: 16px;
    font-weight: 600;
}

.cds--accordion__heading{
    padding-right: 0;
}

.cds--accordion__content{
    padding-right: 0;
}