@use '@carbon/react/scss/spacing' as *;

@use './overrides.scss';

.page__banner--heading--projects{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $spacing-05;
}

.projects-icon-button{
    height: 100%;
    width: 100%;
    padding-top: 0;
    align-items: center;
    justify-content: center;
}

.project-description--header-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $spacing-03;
}

.hyperparameters{
    gap: $spacing-07;
}

.fine-tuning--progress-bar{
    margin-bottom: $spacing-07;
}