@use '@carbon/react/scss/spacing' as *;

@use './overrides.scss';

.page__banner--projects{
    border-bottom: 2px solid #CCB1FA;
}

.page__banner--heading--projects{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $spacing-05;
}

.projects-icon-button{
    padding-top: 0;
    align-items: center;
    justify-content: center;
}

.project-description--header-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $spacing-03;
}

.hyperparameters{
    gap: $spacing-07;
}