@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors';

@use './overrides.scss';

.card{
  margin-left: -16px;
  border: 1px solid $border-tile-01;
  background: colors.$gray-10;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: $spacing-05;
}

.card:hover{
  border: 1px solid colors.$blue-60;
}