@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;

@use './overrides.scss';

.card{
    margin-left: -16px;
    border: 1px solid $border-tile-01;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: $spacing-05;
  }

.card--models:hover{
    background-image: linear-gradient(to top, #65D2D1 13%, #9FEAED 70%);
}

.card--datasets:hover{
    background-image: linear-gradient(to top, #9FC0FA 13%, #CDDDFC 70%);
}