@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors';
@use '@carbon/react/scss/type' as *;

.playground-link{
    margin-left: -16px;
    border: 1px solid $border-tile-01;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: $spacing-05;

    h4{
        @include type-style('productive-heading-04');
    }
}

.playground-link:hover{
    border: 1px solid colors.$blue-60;
}

.playground-link--heading{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $spacing-05;
}

.playground-link--content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    // gap: $spacing-13;
}

.playground-link--description{
    padding-top: $spacing-05;
    padding-bottom: $spacing-13;
}

// .card--right-arrow{
//     align-self: end;
//     color: colors.$blue-60;
// }

// .playground-link--projects:hover{
//     background-image: linear-gradient(to top, #CCB1FA 13%, #E3D6FC 70%);
// }

// .playground-link--models:hover{
//     background-image: linear-gradient(to top, #65D2D1 13%, #9FEAED 70%);
// }

// .playground-link--datasets:hover{
//     background-image: linear-gradient(to top, #9FC0FA 13%, #CDDDFC 70%);
// }

// .playground-link--tutorials:hover{
//     background-image: linear-gradient(to top, #83C8FA 13%, #BEE5FC 70%);
// }